[submodule "neo-link-contracts/lib/forge-std"]
	path = neo-link-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "neo-link-contracts/lib/openzeppelin-contracts"]
	path = neo-link-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
